/* This file is for your main application css. */
@import "node_modules/bootstrap/dist/css/bootstrap";

.welcome-description {
  font-size: 1.2em;
  color: #484848;
  max-width: 80ch;
  margin-top: 2em;
  margin-bottom: 2em;
}

.jupiter-form {
  .form-inline .input-group > .form-control {
    width: 30ch;
  }
  .lucky-form {
    .lucky-text {
      color: #484848;
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}
.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
  .btn {
    border-radius: 0;
  }
}

.error-message {
  color: #C62828;
  font-size: 1.4em;
  margin-top: 2em;
}

.weather-info {
  .temperature {
    font-size: 2em;
  }
  .coordinates {
    margin-top: 1em;
    color: grey;
    font-size: .8em;
  }
}
